.addstudent{
    margin: auto;
    font-weight: 700;  
}
form{
    background-color:rgba(219, 168, 37, 0.73);
    width: 40%;
   
    padding: 20px;
}
input{
    margin-bottom: 10px;
}
.submit{
    margin-top: 10px;
    color: white;
    background-color: rgb(35, 79, 192);
    border: none;
    border-radius: 8px;
    padding: 5px;
    font-weight: 700;
}

select{
    border-radius: 8px;
    font-weight: 700; 
}

option{
    background-color: rgb(199, 24, 24);
    font-weight: 700; 
}